.sketchfab-embed-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sketchfab-iframe {
    height: 100vh;
    width: 100vw;
}
